<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla</title>
</head>
<body>

    {% include "superior/barra.html" %}

    <h2>
        Primera plantilla Django...
    </h2>

    {% if nombre_persona == "Carlos Salvador" %}
    <p>
        El curso lo imparte el Profesor Titular: {{nombre_persona.upper}} {{apellido_persona.upper}}.
    </p>
    {% else %}
    <p>
        El curso lo imparte el Profesor suplente: {{nombre_persona.upper}} {{apellido_persona.upper}}.
    </p>
    {% endif %}

    <p>
        Estamos viendo el tema de las plantillas a dia:  {{fecha_actual.day}}/{{fecha_actual.month}}/{{fecha_actual.year}}
    </p>
    <h2>
        <strong>Temas del Curso:</strong>
    </h2>
    <p>
        <ul>
            {% if temas %}
                {% for elTema in temas %}
                    <li>{{elTema}}</li>
                {% endfor %}
            {% else %}
                <p>No hay Temas que mostrar.</p>
            {% endif %}
        </ul>
    </p>
</body>
</html>